<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%=params[:user_name]%>,</p>

    <p>
      Status of your application has been changed for the following bills
      <% total_bill_amount = 0.0 %> 
      <% total_bill_approved = 0.0 %>
        <% params[:bill_details].each do |bill| %>
            <p> bill id         : <%=bill.id %></p>
            <p> invoice number  : <%=bill.invoice_no %></p>
            <p> date of expense : <%=bill.date_of_expense %></p>
            <p> description     : <%=bill.description %></p>
            <p> amount          : <%=bill.amount %></p>
            <p> status          : <%=STATUS_CODES[bill.status] %> </p><br>
            <% total_bill_approved = total_bill_approved + bill.amount.to_f if bill.status =='AA' %>
            <% total_bill_amount = total_bill_amount + bill.amount.to_f %>
            <% end %>


       <p> Total Bill Made by you : <%=total_bill_amount %> </p>
       <p> Total Bill Approved    : <%=total_bill_approved %> </p>

      
    </p>
    <p>Have a greate day!</p>
  </body>
</html>